.random_game_details {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 5rem;
}

.sliding-panel {

  border: 1px solid black;
  height: 100%;
  background-color: aqua;
  padding-left: 5rem;
}

.sliding-panel p {
   display:flex;
  flex-direction: column;
  align-items: flex-start;

}

.sliding-panel-header {
  background-color: grey;
}

h3{
  margin-left: 50px;;
}
