table {
 background-color: white;
 width: 70%;
 margin-left: auto;
margin-right: auto;

}

td {
  border: 1px solid #ffff;
  background-color: aliceblue;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

thead{
  background-color: blue;
  color:white;
  width: 500px;
  text-align: center;
}

tbody tr:hover{
  background-color: aqua;
}



nav{
    display: flex;
  justify-items: center;
  justify-content: center;
  margin: 5rem;
}

