table {
  font-family: arial, sans-serif;

  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

thead{
  background-color: blue;
  color:white
}

tbody tr:hover{
  background-color: aqua;
}

.paginate {
  display: flex;
  justify-items: flex-end
}

