.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.random_game_details {

   padding-left: 5rem;
  font-size: large;
  padding-bottom: 5rem
}


.random_game_items  {
  
 display:flex;
 flex-direction: row;
}
.random_game_items > div {
 margin-left: 5px
}

.random_game_details div {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: large;
  padding-bottom: 5rem
}

.sliding-panel {
  border: 1px solid black;
  height: 100%;
  background-color: white;
 
}

.sliding-panel p {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
   padding-left: 5rem;
   margin-top: 4rem;
   margin-bottom: 4rem;

}

.sliding-panel h3 {
  text-align: left;
   padding-left: 5rem;
   
}

.sliding-panel-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: darkgray;
  text-align: left;
}

.x {
  cursor: pointer;
  margin-right:25px;
}


input{
  margin: 25px;
}





