.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.random_game_details {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.sliding-panel {
  border: 1px solid black;
  height: 100%;
  background-color: aqua;
  padding-left: 5rem;
}

.sliding-panel p {
   display:flex;
  flex-direction: column;
  align-items: flex-start;

}

.sliding-panel-header {
  background-color: grey;
}



input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    background-color: none;
   
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    outline: none;
}
