.App {
  display:flex;
  flex-direction: column;
  margin-left: auto;
   margin-right: auto
}


.game_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 10rem 3rem 6rem;
   font-weight: bold;
}

.random_game_details div {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: large;
  padding-bottom: 2rem;
  margin-left: 5px;
  margin-right: 1rem;
  font-weight: bold;
}

.sliding-panel {
  border: 1px solid black;
  height: 100%;
  background-color: white;
 
}

.sliding-panel p {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
   padding-left: 5rem;
   margin-top: 4rem;
   margin-bottom: 4rem;

}

.sliding-panel h4 {
  text-align: left;
   padding-left: 5rem;
  padding-bottom: 3rem;
   
}

.sliding-panel-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: darkgray;
  text-align: left;
}

.x {
  cursor: pointer;
  margin-right:25px;
}

input{
  margin: 25px;
}

h3{
  padding-left: 3rem
}

h1 {
  color: blue;
  margin-left: 250px;
  
}


input[type="submit"] {
    font-family: FontAwesome;
}

.searchInputs input {
  background-color: white;
  border: 1px solid blue;
  width: 500px;
  border-radius: 5px;
  height:45px
}

.searchInputs {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 230px;
}






